<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{activeDay | date:'EEEE, dd MMMM YYYY'}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleDateSelect()">
        <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <div class="week-display">
      <div class="week-day" *ngFor="let day of weekDays"
           appSwipeGesture
           (onSwipeLeft)="setNextWeek()"
           (onSwipeRight)="setPreviousWeek()"
           (click)="setActiveDay(day.date)">
        <span class="day">{{day.shortName}}</span>
        <span class="date" [class.active]="day.isToday">{{day.date | date:'dd'}}</span>
        <span class="totalTime">{{day.totalTime}}</span>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-modal [keepContentsMounted]="true" [isOpen]="showCalendar" (didDismiss)="cancelCalendar()">
    <ng-template>
      <ion-datetime id="datetime" #datetime
                    presentation="date"
                    [showDefaultButtons]="true"
                    [(ngModel)]="activeDay"
                    (ionChange)="setSelectedCalendarValue()">
        <ion-buttons slot="buttons">
          <ion-button color="primary" (click)="setToday()">Today</ion-button>
          <ion-button color="primary" (click)="datetime.cancel(true)">Annuleer</ion-button>
          <ion-button color="primary" (click)="datetime.confirm(true)">Bevestig</ion-button>
        </ion-buttons>
      </ion-datetime>
    </ng-template>
  </ion-modal>

  <ion-datetime-button datetime="datetime" id="fake-click"></ion-datetime-button>

  <ion-card class="ion-no-margin">
    <p>{{firstDayOfWeek}}</p>
    <p>{{lastDayOfWeek}}</p>
  </ion-card>


  <!--  Ion fab-->
  <ion-fab horizontal="center" vertical="bottom">
    <ion-fab-button (click)="toggleTimer()" size="large">
      <ion-icon [name]="timeActive ? 'stop-outline': 'play-outline'"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
