.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.week-switcher {
  padding: 4px 8px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  border: 1px solid lightgray;
  max-height: 50px;

  .week-switcher-buttons {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

    .button {
      padding: 8px;
      border-radius: 50%;
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: lightgray;
      font-size: 18px;
      cursor: pointer;
    }
  }

  .current-week-display {
    font-size: 16px;
    font-weight: bold;

  }
}

.week-display {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 8px;
  margin-top: 16px;
  .week-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 4px;
    cursor: pointer;
    width: 100%;

    span {
      font-size: 16px;
    }

    .day {
      text-transform: uppercase;
    }

    .date {
      color: lightgray;
      width: 34px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .active {
      background-color: var(--ion-color-primary);
      color: white;
      border-radius: 50%;
    }

    .totalTime {
      font-size: 12px;
      background-color: white;
      border: 1px solid lightgray;
      border-radius: 4px;
      padding: 0 4px;
    }
  }
}
