<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Work timer app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="navigation-container">
    <ion-button (click)="setToday()" size="medium" shape="round">Vandaag</ion-button>

    <div class="week-switcher">
      <div class="week-switcher-buttons">
        <div class="button" (click)="setPreviousWeek()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </div>
        <div class="button" (click)="setNextWeek()">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
      <div class="current-week-display">
        <span>{{firstDayOfWeek | date:'MMM dd'}} - {{lastDayOfWeek | date:'MMM dd'}}</span>
      </div>
    </div>
  </div>

  <div class="week-display">
    <div class="week-day" *ngFor="let day of weekDays" [class.active]="day.isToday" (click)="setActiveDay(day.date)">
      <p>{{day.shortName}}</p>
      <p>{{day.date | date:'dd'}}</p>
    </div>
  </div>

  <div class="selected-day-container">
    <h2>{{activeDay | date:'EEEE, dd MMMM YYYY'}}</h2>
  </div>

  <!--  Ion fab-->
  <ion-fab horizontal="center" vertical="bottom">
    <ion-fab-button (click)="toggleTimer()" size="large">
      <ion-icon [name]="timeActive ? 'stop-outline': 'play-outline'"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
